body {
    margin: 0px;
}

#assemble {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#assemble > canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#intro {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: opacity 1s;
}